@font-face {
		font-family: 'Symbols-Regular';
		src: url('symbolsregular.eot');
		src: url('symbolsregular.eot?#iefix') format('embedded-opentype'),
				 url('symbolsregular.woff') format('woff'),
				 url('symbolsregular.ttf') format('truetype'),
				 url('symbolsregular.svg#symbolsregular') format('svg');
		font-weight: normal;
		font-style: normal;
}
s {
  font-size: 14px;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  font-family: 'Symbols-Regular';
  line-height: normal;
  vertical-align: baseline;
}
s.x2 { font-size:2em }
s.x3 { font-size:3em }
s.x4 { font-size:4em }

/* It would be better to change below like "s.Book" or "s.Person". */
s.f700:before { content: "\f700" }
s.f701:before { content: "\f701" }
s.f702:before { content: "\f702" }
s.f703:before { content: "\f703" }
s.f704:before { content: "\f704" }
s.f705:before { content: "\f705" }
s.f706:before { content: "\f706" }
s.f707:before { content: "\f707" }

s.f708:before { content: "\f708" }
s.f709:before { content: "\f709" }
s.f70a:before { content: "\f70a" }
s.f70b:before { content: "\f70b" }
s.f70c:before { content: "\f70c" }
s.f70d:before { content: "\f70d" }
s.f70e:before { content: "\f70e" }
s.f70f:before { content: "\f70f" }

s.f710:before { content: "\f710" }
s.f711:before { content: "\f711" }
s.f712:before { content: "\f712" }
s.f713:before { content: "\f713" }
s.f714:before { content: "\f714" }
s.f715:before { content: "\f715" }
s.f716:before { content: "\f716" }
s.f717:before { content: "\f717" }

s.f718:before { content: "\f718" }
s.f719:before { content: "\f719" }
s.f71a:before { content: "\f71a" }
s.f71b:before { content: "\f71b" }
s.f71c:before { content: "\f71c" }
s.f71d:before { content: "\f71d" }
s.f71e:before { content: "\f71e" }
s.f71f:before { content: "\f71f" }

s.f720:before { content: "\f720" }
s.f721:before { content: "\f721" }
s.f722:before { content: "\f722" }
s.f723:before { content: "\f723" }
s.f724:before { content: "\f724" }
s.f725:before { content: "\f725" }
s.f726:before { content: "\f726" }
s.f727:before { content: "\f727" }

s.f728:before { content: "\f728" }
s.f729:before { content: "\f729" }
s.f72a:before { content: "\f72a" }
s.f72b:before { content: "\f72b" }
s.f72c:before { content: "\f72c" }
s.f72d:before { content: "\f72d" }
s.f72e:before { content: "\f72e" }
s.f72f:before { content: "\f72f" }

s.f730:before { content: "\f730" }
s.f731:before { content: "\f731" }
s.f732:before { content: "\f732" }
s.f733:before { content: "\f733" }
s.f734:before { content: "\f734" }
s.f735:before { content: "\f735" }
s.f736:before { content: "\f736" }
s.f737:before { content: "\f737" }

s.f738:before { content: "\f738" }
s.f739:before { content: "\f739" }
s.f73a:before { content: "\f73a" }
s.f73b:before { content: "\f73b" }
s.f73c:before { content: "\f73c" }
s.f73d:before { content: "\f73d" }
s.f73e:before { content: "\f73e" }
s.f73f:before { content: "\f73f" }
